:root {

  --pink-400: hsl(0, 36%, 70%);
  --red-500: hsl(0, 93%, 68%);

  --gray-900: hsl(0, 6%, 24%);

  --linear-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--linear-1);
}

.header {
  margin: 2rem;
}

.header__logo {
  width: 6.4rem;
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.intro {
  margin: 4rem 1.5rem;
  text-align: center;
}

.intro__title {
  font-size: 2.5rem;
  letter-spacing: 11px;
  text-transform: uppercase;
  color: var(--gray-900);
  font-weight: 600;
  line-height: 1.06;
}

.intro__title--highlight {
  color: var(--pink-400);
  font-weight: 300;
}

.intro__text {
  margin-top: 1rem;
  color: var(--pink-400);
  font-size: 0.89rem;
  line-height: 1.5;
}

.form {
  margin: 2rem auto;
  position: relative;
  overflow: visible;
  max-width: 25rem;
}

.form__group {
  position: relative;
  margin: 0 auto;
}

.form__error-icon {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}

.form__error-text {
  margin-top: 0.8rem;
  display: block;
  color: var(--red-500);
  font-size: 0.89rem;
  font-weight: 600;
  display: none;
}

.form__input {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  border-radius: 50px;
  border: 1px solid hsla(0, 36%, 70%, 0.4);
  outline: none;
  font-size: 0.75rem;
  font-weight: 400;
}

.form__input.active {
  border: 2px solid var(--red-500);
}

.form__input::placeholder {
  color: hsla(0, 36%, 70%, 0.5);
}

.form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 55px;
  border-radius: 30px;
  background: var(--linear-2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form__button:hover {
  transform: scale(1.05);
  box-shadow: 0 7px 15px hsla(0, 6%, 24%, 0.3);
  z-index: 2;
  background: linear-gradient(
    135deg,
    hsla(0, 80%, 86%, 0.9),
    hsl(0, 74%, 74%, 0.9)
  );
}

.hero__image {
  width: 100vw;
}

@media (min-width: 768px) {
  .intro__text {
    margin: 1rem 4rem 0;
    font-size: 1rem;
  }
  .form__input {
    padding: 0.9rem 1rem 0.9rem 1.5rem;
    font-size: 0.9rem;
  }
  .form__error-icon {
    width: 24px;
    height: 24px;
  }
  .form__error-text {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    background: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main {
    flex-direction: row;
  }

  .header {
    margin: 0;
    position: absolute;
    top: 3rem;
    left: 7.5rem;
  }

  .header__logo {
    width: 7rem;
  }
  .intro {
    text-align: left;
    margin-top: 10.5rem;
    flex: 1;
  }
  .intro__title {
    margin: 0 4rem;
    font-size: 2.9rem;
    letter-spacing: 12px;
  }
  .intro__text {
    font-size: 0.8rem;
    padding-right: 1rem;
  }
  .hero {
    flex: 1;
  }

  .hero__image {
    height: 100vh;
    object-fit: cover;
  }
  .form {
    margin: 2rem auto;
    position: relative;
    overflow: visible;
    max-width: 22.8rem;
  }
  .form__error-icon {
    right: 4.5rem;
  }
  .form__error-text {
    margin-left: 2.3rem;
    font-size: 0.94rem;
  }
}

@media (min-width: 1440px) {
  .header {
    top: 4.4rem;
    left: 12.3rem;
  }
  .header__logo {
    width: 12rem;
  }
  .intro {
    margin-top: 17rem;
    margin-left: 8.5rem;
  }
  .intro__title {
    font-size: 4.8rem;
    letter-spacing: 21px;
    line-height: 1.08;
  }
  .intro__text {
    font-size: 1.21rem;
    padding-right: 14rem;
    line-height: 1.66;
  }
  .form {
    margin: 2rem 0 0 4rem;
    max-width: 33.4rem;
  }
  .form__input {
    padding: 1.4rem 1rem 1.4rem 2.2rem;
    border-radius: 100px;
    font-size: 1.2rem;
  }
  .form__button {
    width: 120px;
    border-radius: 80px;
  }
  .hero {
    flex: 1;
    height: 100vh;
    overflow: hidden;
  }

  .hero__picture {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .form__error-icon {
    right: 8.8rem;
    width: 29px;
    height: 29px;
  }
  .form__error-text {
    margin-left: 2.4rem;
    margin-top: 1rem;
    font-size: 0.95rem;
  }
}
